<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998977256597-l519pgctn3iujiiaq81q4or91qi3hbpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998977256597-l519pgctn3iujiiaq81q4or91qi3hbpd</string>
	<key>API_KEY</key>
	<string>AIzaSyAs8OMOSDioAQDSXvIPZqddBLq9sRu6L9s</string>
	<key>GCM_SENDER_ID</key>
	<string>998977256597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.instamobile.swift.abroad</string>
	<key>PROJECT_ID</key>
	<string>prod-ios-app-templates</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-ios-app-templates.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998977256597:ios:ddd8c8f5619e7b08</string>
	<key>DATABASE_URL</key>
	<string>https://prod-ios-app-templates.firebaseio.com</string>
</dict>
</plist>